
# Note: Make sure to update setup.cfg install_requires as well!
PyQt6==6.5.3
keyboard==0.13.5
pyperclip==1.9.0
# -----------------------------------------------------------
# Development-only packages, which shouldn't go in setup.cfg:
# -----------------------------------------------------------
pytest==7.4.2
